body {
  background-image: url(imgs/banana.gif);
  background-repeat: repeat;
}

button {
    background-color: #FFFFFF;
    border: none;
    color: black;
    opacity: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    background-color: #e7e7e7;
}

button:active {
    background-color: #ececec;
}

.click-ani:active {
  transform: scale(.99, .99)
}

.column {
  float: left;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
  text-align: center;
  margin: 4px;
}

.white-box {
  background-color: rgba(255, 255, 255, .90);
  border-radius: 10px;
  padding: 20px
}

img {
  padding: 4px;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  grid-gap: 10px;
}

.one-col {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align:center;
  grid-gap: 10px;
}
.row-experience {
  text-align:center;
}

.shop {
  display:flex;
  white-space:nowrap;
  /* overflow:auto; */
}

.center {
  margin: auto;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}